<section id="market">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="crypto"><span>Capitalicación de mercado ⭳</span></li>
                                <li class="filter" data-filter="security"><span>Precio ⭳⭱</span></li>
                                <li class="filter" data-filter="action"><span>Variación 24h ⭳⭱</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>