<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ No tienes que ser un genio, un visionario o graduado para tener éxito. Todo lo que necesitas es perspectiva y un sueño. ”</p>
                            <h4>Arnau Fernandez</h4>
                            <span>Trader</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Mi teoría es que si pareces seguro puedes sacar lo que quieras adelante incluso si no tienes ni idea de lo que estás haciendo. ”</p>
                            <h4>Pau Callejas</h4>
                            <span>Trader pero menos trader</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ El éxito no es la clave de la felicidad. La felicidad es la clave del éxito. Si amas lo que haces, tendrás éxito. ”</p>
                            <h4>Rafael García</h4>
                            <span>No es trader</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Fracaso es el condimento que da sabor al éxito. ”</p>
                            <h4>Berto Romero</h4>
                            <span>Samanté</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Al perro que tiene dinero se le llama señor perro. ”</p>
                            <h4>Proverbio egipcio</h4>
                            <span>Kleopatra</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>